process {
    // guppy container config is located in the guppy_gpu module
    withLabel: shovill           { container = 'nanozoo/shovill:1.1.0--1dafaa5'  }
    withLabel: prokka           { container = 'nanozoo/prokka:1.14.6--773a90d'  }
    withLabel: checkm           { container = 'nanozoo/checkm:1.1.3--c79a047'  }
}